@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Archivo2';
	src: url('/fonts/archivo.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@layer components {
	.mug-md {
		--scale: 5 !important;
	}

	.mug-lg {
		--scale: 6 !important;
	}

	.leading-85 {
		line-height: 0.85 !important;
	}
}
