@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-10xl {
		font-size: 14rem;
		line-height: 0.85;
	}

	.mug-md {
		--scale: 5 !important;
	}

	.mug-lg {
		--scale: 6 !important;
	}

	.leading-90 {
		line-height: 0.85 !important;
	}
}
